<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="test.css">
  </head>
  <body>
    <h1>You have 3 minutes for this test</h1>
    <h2 id="test_info">Welcome to Your Online CBT Test</h2>
    <p id="empty">Please Click on the <strong>START<strong> button below</p>
      <button type="button" id="btn" onclick="getQuestion();timer()">START</button>
    <div id="test">


    </div>


    <script src="test.js">

    </script>
  </body>
</html>
